# ЛР №10. Завдання на програмування №1

The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [2]:
import pandas as pd
import numpy as np

В цьому модулі уже є реалізована функція read_data, яка читає файл csv та форматує отриману інформацію.

In [4]:
import pandas as pd
import numpy as np
def read_data():
    solut = pd.read_csv('olympics.csv', index_col=0, skiprows=1)
    for col in solut.columns:
        if col[:2] == '01':
            solut.rename(columns={col: 'Gold'+col[4:]}, inplace=True)
        elif col[:2] == '02':
            solut.rename(columns={col: 'Silver'+col[4:]}, inplace=True)
        elif col[:2] == '03':
            solut.rename(columns={col: 'Bronze'+col[4:]}, inplace=True)
        elif col[:1] == '№':
            solut.rename(columns={col: '#'+col[1:]}, inplace=True)
    names_ids = solut.index.str.split('\\s\\(') # split the index by '('

    solut.index = names_ids.str[0] # the [0] element is the country name (new index)
    solut['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

    solut = solut.drop('Totals')
    return solut

solut = read_data()
read_data()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yugoslavia,16,26,29,28,83,14,0,3,1,4,30,26,32,29,87,YUG
Independent Olympic Participants,1,0,1,2,3,0,0,0,0,0,1,0,1,2,3,IOP
Zambia,12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,ZAM
Zimbabwe,12,3,4,1,8,1,0,0,0,0,13,3,4,1,8,ZIM
Mixed team,3,8,5,4,17,0,0,0,0,0,3,8,5,4,17,ZZX

### first_country(solut)

Повинна повертати Series, що містить інформацію щодо першої країни в списку

In [6]:
def first_country(solut):
    return solut.iloc[0]

first_country(solut)

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### summer_biggest(solut)
повинна повертати стрічку з країною, що виграла найбільше золотих медалей в літніх іграх

In [8]:
def summer_biggest(solut):
    return solut['Gold'].idxmax()

summer_biggest(solut)

'United States'

### difference_biggest(solut)

повинна повертати стрічку з країною, що має найбільшу різницю (по модулю)  між кількістю золотих медалей на літніх та зимових іграх

In [9]:
def difference_biggest(solut):
    return abs(solut['Gold'] - solut['Gold.1']).idxmax()

difference_biggest(solut)

'United States'

### difference_biggest_relative(solut)
повинна повертати стрічку з країною, що має найбільшу різницю (по модулю)  між кількістю золотих медалей на літніх та зимових іграх, відносно до загальної кількості виграних золотих медалей цієї країни. Тобто, задіяна така формула:

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Включайте тільки ті країни, які виграли хоча б 1 золоту медаль влітку та взимку.

In [10]:
def difference_biggest_relative(solut):
    return abs(solut['Gold'] - solut['Gold.1']).idxmax()

difference_biggest_relative(solut)

'United States'

### get_points(solut)

повинна додати у solut стовпець Points, а також повернути тільки його (об’єкт Series). Цей стовпець буде містити кількість очок для кожної країни. За кожну золоту медаль країні присвоюється 3 бали, за кожну срібну - 2 бали і за бронзову - 1. Загальна кількість балів - сума балів.

In [13]:
def get_points(solut):
    solut["Points"] = (3 * solut["Gold.2"]) + (2 * solut["Silver.2"]) + (solut["Bronze.2"])
    return solut["Points"]

get_points(solut)

Afghanistan                           2
Algeria                              27
Argentina                           130
Armenia                              16
Australasia                          22
                                   ...
Yugoslavia                          171
Independent Olympic Participants      4
Zambia                                3
Zimbabwe                             18
Mixed team                           38
Name: Points, Length: 146, dtype: int64