In [2]:
import pandas as pd
import numpy as np

In [7]:
def read_data(f_csv):
    text_f = pd.read_csv(f_csv)
    return text_f
print(read_data("census.csv")[:2][['SUMLEV', 'REGION', 'DIVISION']])

   SUMLEV  REGION  DIVISION
0      40       3         6
1      50       3         6

In [10]:
def max_counties(f_csv):
    return f_csv['STNAME'].value_counts().index[0]
max_counties(read_data("census.csv"))

'Texas'

In [13]:
def max_difference(f_csv):
   f_csv = (f_csv["POPESTIMATE2010"] - f_csv["POPESTIMATE2011"])
   return f_csv
max_difference(read_data("census.csv"))

0      -15947
1        -593
2       -3466
3         115
4         128
        ...
3188     -448
3189     -185
3190      190
3191       76
3192       67
Length: 3193, dtype: int64

In [16]:
def conditional_counties(f_csv):
    f_csv = f_csv[(((f_csv['REGION']) == 1) | ((f_csv['REGION']) == 2))]
    f_csv = f_csv.drop((f_csv[(f_csv['POPESTIMATE2015']) < (f_csv['POPESTIMATE2014'])]).index)
    f_csv = f_csv[["CTYNAME", "STNAME", 'REGION']]
    f_csv = f_csv[(f_csv['CTYNAME'].str.startswith('Washington'))]
    return f_csv
conditional_counties(read_data("census.csv"))

                CTYNAME        STNAME  REGION
896   Washington County          Iowa       2
1419  Washington County     Minnesota       2
2345  Washington County  Pennsylvania       1
2355  Washington County  Rhode Island       1
3163  Washington County     Wisconsin       2